# Ejercicio módulo 3

# Fase 1: Exploración y Limpieza 1

## 1. Exploración inicial

In [81]:
## Une los dos conjuntos de datos de la forma más eficiente.

In [82]:
# Empezamos importando librerías:

import pandas as pd
import numpy as np

# Y ejecutamos la función de Pandas que asegura que se muestran todas las columnas al vistualizar los datos de los csv.
pd.set_option('display.max_columns', None)

In [83]:
# Creamos el df para cada csv

df_flight= pd.read_csv('Customer Flight Activity.csv')
df_loyalty = pd.read_csv('Customer Loyalty History.csv')

In [84]:
# Consultamos columnas de cada df para ver cómo unir los 2 df y trabajar con un solo conjunto de datos.

print(df_flight.columns)
print(df_loyalty.columns)

Index(['Loyalty Number', 'Year', 'Month', 'Flights Booked',
       'Flights with Companions', 'Total Flights', 'Distance',
       'Points Accumulated', 'Points Redeemed', 'Dollar Cost Points Redeemed'],
      dtype='object')
Index(['Loyalty Number', 'Country', 'Province', 'City', 'Postal Code',
       'Gender', 'Education', 'Salary', 'Marital Status', 'Loyalty Card',
       'CLV', 'Enrollment Type', 'Enrollment Year', 'Enrollment Month',
       'Cancellation Year', 'Cancellation Month'],
      dtype='object')

In [85]:
# Opción escogida: .merge() con 'inner' para quedarnos solo con los clientes comunes a los dos archivos. 

df_clients = df_flight.merge(df_loyalty, on='Loyalty Number', how='inner')

In [86]:
## Empezamos el EDA:

In [87]:
df_clients.shape # Consultamos estructura del df: numero de filas x numero de columnas.

(405624, 25)

In [88]:
df_clients.head() # 5 primeras filas.

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100102,2017,1,10,4,14,2030,203.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,NaN,Single,Nova,2887.74,Standard,2013,3,NaN,NaN
2,100140,2017,1,6,0,6,1200,120.0,0,0,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,College,NaN,Divorced,Nova,2838.07,Standard,2016,7,NaN,NaN
3,100214,2017,1,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Male,Bachelor,63253.0,Married,Star,4170.57,Standard,2015,8,NaN,NaN
4,100272,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1L 8X8,Female,Bachelor,91163.0,Divorced,Star,6622.05,Standard,2014,1,NaN,NaN

In [89]:
df_clients.sample(5) # 5 filas aleatorias

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
231742,358979,2018,3,12,0,12,1680,181.44,0,0,Canada,Quebec,Montreal,H2Y 4R4,Male,Master,112860.0,Divorced,Star,2867.31,Standard,2012,9,NaN,NaN
100051,927887,2017,6,0,0,0,0,0.00,0,0,Canada,Quebec,Tremblant,H5Y 2S9,Female,Bachelor,59766.0,Married,Aurora,8704.28,Standard,2015,12,NaN,NaN
386829,898438,2018,11,5,0,5,620,62.00,0,0,Canada,Ontario,Ottawa,K1G 4Z0,Female,Bachelor,49320.0,Married,Nova,6371.32,Standard,2013,3,NaN,NaN
204827,207453,2018,1,6,3,9,2286,228.00,0,0,Canada,Ontario,Toronto,M2P 4F6,Female,Bachelor,82703.0,Divorced,Star,2842.27,Standard,2016,5,NaN,NaN
129405,690510,2017,8,0,0,0,0,0.00,0,0,Canada,Quebec,Montreal,H2Y 4R4,Female,Bachelor,71972.0,Single,Star,2378.67,Standard,2018,8,NaN,NaN

In [90]:
df_clients.tail() #5 últimas filas. Nos permite comprobar que los 'loyalty number' no son correlativos y son diferentes al índice.

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
405619,999902,2018,12,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,NaN,Married,Aurora,7290.07,Standard,2014,5,NaN,NaN
405620,999911,2018,12,0,0,0,0,0.0,0,0,Canada,Newfoundland,St. John's,A1C 6H9,Male,Doctor,217943.0,Single,Nova,8564.77,Standard,2012,8,NaN,NaN
405621,999940,2018,12,3,0,3,1233,123.0,0,0,Canada,Quebec,Quebec City,G1B 3L5,Female,Bachelor,47670.0,Married,Nova,20266.50,Standard,2017,7,NaN,NaN
405622,999982,2018,12,0,0,0,0,0.0,0,0,Canada,British Columbia,Victoria,V10 6T5,Male,College,NaN,Married,Star,2631.56,Standard,2018,7,NaN,NaN
405623,999986,2018,12,0,0,0,0,0.0,0,0,Canada,Ontario,Ottawa,K1F 2R2,Female,Bachelor,46594.0,Married,Nova,8257.01,2018 Promotion,2018,2,NaN,NaN

In [91]:
df_clients.info() # Consultamos información sobre el nombre de las columnas, tipo de datos y presencia de valores nulos.

# Observaciones:
# - No se observan columnas repetidas.

# - Tipos de datos:
#   - 'Points Accumulated': tiene sentido que sea float o podría ser integer?
#   - 'Postal Code': normalmente no tienen letras. Podría ser int?
#   - 'Loyalty Card': qué tipo de valor tiene? Podría ser un booleano?

# - Columnas con información de mes y año: deberían ser int. Las necesitaremos todas?

# - Nulos o datos faltantes:
#   - 'Salary': tiene bastantes 10.000 aprox.). Aún por determinar si son demasiados.
#   - Columnas con información sobre cancelación: tienen un número elevado de nulos/ falta de datos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
 10  Country                      405624 non-null  object
 11  Province                     405624 non-null  object
 12  City                         405624 non-null  object
 13  Postal Code                  405624 non-null  object
 14  Gender                       405624 non-null  object
 15  Education                    405624 non-null  object
 16  Salary                       302952 non-null  float64
 17  Marital Status               405624 non-null  object
 18  Loyalty Card                 405624 non-null  object
 19  CLV                          405624 non-null  float64
 20  Enrollment Type              405624 non-null  object
 21  Enrollment Year              405624 non-null  int64
 22  Enrollment Month             405624 non-null  int64
 23  Cancellation Year            50064 non-null   float64
 24  Cancellation Month           50064 non-null   float64
dtypes: float64(5), int64(11), object(9)
memory usage: 77.4+ MB

In [92]:
# Al extraer toda la información comentada, no es necesario usar .column o dtypes para consultar más datos sobre nombre de columna o tipos.

# Procedemos a consultar los datos según tipo de columna (numérica o categórica).

In [93]:
# Numérica tipo integer:
df_clients.select_dtypes(include=[int])

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Redeemed,Dollar Cost Points Redeemed,Enrollment Year,Enrollment Month
0,100018,2017,1,3,0,3,1521,0,0,2016,8
1,100102,2017,1,10,4,14,2030,0,0,2013,3
2,100140,2017,1,6,0,6,1200,0,0,2016,7
3,100214,2017,1,0,0,0,0,0,0,2015,8
4,100272,2017,1,0,0,0,0,0,0,2014,1
...,...,...,...,...,...,...,...,...,...,...,...
405619,999902,2018,12,0,0,0,0,0,0,2014,5
405620,999911,2018,12,0,0,0,0,0,0,2012,8
405621,999940,2018,12,3,0,3,1233,0,0,2017,7
405622,999982,2018,12,0,0,0,0,0,0,2018,7
405623,999986,2018,12,0,0,0,0,0,0,2018,2

In [94]:
# No parece haber valores atípicos.
# Aun así, se comprueba que no haya valores atípicos en las columnas con meses:

print(df_clients['Enrollment Month'].unique())
print(df_clients['Month'].unique())

[ 8  3  7  1  9  5 10  2  4  6 11 12]
[ 1  9  2  3 11  4  5  7  6  8 10 12]

In [95]:
# Numérica tipo float:
df_clients.select_dtypes(include=[float])

# Se vuelven a observar aspectos comentados en líneas de código anteriores, que se tratarán en la fase de limpieza (ejercicio 2).
# Se observa como 'Salary' es float pero el decimal siempre es 0. Debería ser int.

,Points Accumulated,Salary,CLV,Cancellation Year,Cancellation Month
0,152.0,92552.0,7919.20,NaN,NaN
1,203.0,NaN,2887.74,NaN,NaN
2,120.0,NaN,2838.07,NaN,NaN
3,0.0,63253.0,4170.57,NaN,NaN
4,0.0,91163.0,6622.05,NaN,NaN
...,...,...,...,...,...
405619,0.0,NaN,7290.07,NaN,NaN
405620,0.0,217943.0,8564.77,NaN,NaN
405621,123.0,47670.0,20266.50,NaN,NaN
405622,0.0,NaN,2631.56,NaN,NaN
405623,0.0,46594.0,8257.01,NaN,NaN

In [96]:
# Comprobación de 'Salary', que se tratará en la fase de limpieza (ejercicio 2):

df_clients['Salary'].sample(10)

320570         NaN
11518      87293.0
375671    231305.0
195358     61237.0
82278          NaN
304395     81333.0
259929     56600.0
214528     74964.0
299895     67721.0
321290     81729.0
Name: Salary, dtype: float64

In [97]:
# También se observa como 'Cancellation Year' y 'Cancellation Month' están muy vacías. Comprobación con muestra aleatoria de observaciones:
df_clients['Cancellation Year'].sample(10)

222327       NaN
270746       NaN
139542    2017.0
35905        NaN
162574       NaN
404595       NaN
310822       NaN
129207       NaN
130779       NaN
107010       NaN
Name: Cancellation Year, dtype: float64

In [98]:
df_clients['Cancellation Month'].sample(10)

402393   NaN
250914   NaN
171350   NaN
327426   NaN
312169   NaN
295534   NaN
224995   NaN
110522   NaN
352208   NaN
54409    NaN
Name: Cancellation Month, dtype: float64

In [99]:
# Columnas categóricas:
df_clients.select_dtypes(include='O')

# Se comprueba como el código postal incluye letras: no puede ser int y tendrá que mantenerse en string (object).

,Country,Province,City,Postal Code,Gender,Education,Marital Status,Loyalty Card,Enrollment Type
0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,Married,Aurora,Standard
1,Canada,Ontario,Toronto,M1R 4K3,Male,College,Single,Nova,Standard
2,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,College,Divorced,Nova,Standard
3,Canada,British Columbia,Vancouver,V5R 1W3,Male,Bachelor,Married,Star,Standard
4,Canada,Ontario,Toronto,P1L 8X8,Female,Bachelor,Divorced,Star,Standard
...,...,...,...,...,...,...,...,...,...
405619,Canada,Ontario,Toronto,M1R 4K3,Male,College,Married,Aurora,Standard
405620,Canada,Newfoundland,St. John's,A1C 6H9,Male,Doctor,Single,Nova,Standard
405621,Canada,Quebec,Quebec City,G1B 3L5,Female,Bachelor,Married,Nova,Standard
405622,Canada,British Columbia,Victoria,V10 6T5,Male,College,Married,Star,Standard
405623,Canada,Ontario,Ottawa,K1F 2R2,Female,Bachelor,Married,Nova,2018 Promotion

In [100]:
# Para consultar valores únicos de cada columna, se ejecuta un bucle for:

for col in df_clients.select_dtypes(include='O'):
    print(col)
    print('-----------------------------')
    print(df_clients[col].unique())

# Permite ver como 'Country' solo tiene un valor.

Country
-----------------------------
['Canada']
Province
-----------------------------
['Alberta' 'Ontario' 'British Columbia' 'Saskatchewan' 'Quebec'
 'Newfoundland' 'Manitoba' 'New Brunswick' 'Nova Scotia'
 'Prince Edward Island' 'Yukon']
City
-----------------------------
['Edmonton' 'Toronto' 'Dawson Creek' 'Vancouver' 'Regina' 'Montreal'
 'Sudbury' 'Quebec City' 'Peace River' "St. John's" 'Tremblant' 'Ottawa'
 'Trenton' 'Winnipeg' 'Thunder Bay' 'West Vancouver' 'Fredericton'
 'London' 'Halifax' 'Moncton' 'Banff' 'Kingston' 'Whistler'
 'Charlottetown' 'Hull' 'Victoria' 'Calgary' 'Kelowna' 'Whitehorse']
Postal Code
-----------------------------
['T9G 1W3' 'M1R 4K3' 'U5I 4F1' 'V5R 1W3' 'P1L 8X8' 'P1J 8T7' 'S6J 3G0'
 'H2T 9K8' 'V6E 3D9' 'M5V 1G5' 'H2Y 4R4' 'M8Y 4K8' 'V6E 3Z3' 'G1B 3L5'
 'T9O 2W2' 'A1C 6H9' 'H5Y 2S9' 'K1F 2R2' 'K8V 4B2' 'R3R 3T4' 'P1W 1K4'
 'K8T 5M5' 'V6V 8Z3' 'M2M 7K8' 'E3B 2H2' 'M5B 3E4' 'H2Y 2W2' 'P5S 6R4'
 'P2T 6G3' 'B3J 9S2' 'B3C 2M8' 'H4G 3T4' 'R6Y 4T5' 'H2T 2J6' 'M2Z 4K1'
 'S1J 3C5' 'E1A 2A7' 'V1E 4R6' 'T4V 1D4' 'M9K 2P4' 'R2C 0M5' 'T3G 6Y6'
 'M2M 6J7' 'V6T 1Y8' 'C1A 6E8' 'J8Y 3Z5' 'V10 6T5' 'H3T 8L4' 'T3E 2V9'
 'V09 2E9' 'Y2K 6R0' 'K1G 4Z0' 'M2P 4F6' 'M3R 4K8' 'H3J 5I6']
Gender
-----------------------------
['Female' 'Male']
Education
-----------------------------
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
Marital Status
-----------------------------
['Married' 'Single' 'Divorced']
Loyalty Card
-----------------------------
['Aurora' 'Nova' 'Star']
Enrollment Type
-----------------------------
['Standard' '2018 Promotion']

In [101]:
# Consulta de las estadísticas básicas para todos los típos de columnas:

df_clients.describe().T

# Se observa como el salario tiene un valor mínimo negativo, valor atípico que se tendrá que solventar.

,count,mean,std,min,25%,50%,75%,max
Loyalty Number,405624.0,550037.873084,258935.286969,100018.00,326961.00,550834.00,772194.00,999986.00
Year,405624.0,2017.500000,0.500001,2017.00,2017.00,2017.50,2018.00,2018.00
Month,405624.0,6.500000,3.452057,1.00,3.75,6.50,9.25,12.00
Flights Booked,405624.0,4.115052,5.225518,0.00,0.00,1.00,8.00,21.00
Flights with Companions,405624.0,1.031805,2.076869,0.00,0.00,0.00,1.00,11.00
Total Flights,405624.0,5.146858,6.521227,0.00,0.00,1.00,10.00,32.00
Distance,405624.0,1208.880059,1433.155320,0.00,0.00,488.00,2336.00,6293.00
Points Accumulated,405624.0,123.692721,146.599831,0.00,0.00,50.00,239.00,676.50
Points Redeemed,405624.0,30.696872,125.486049,0.00,0.00,0.00,0.00,876.00
Dollar Cost Points Redeemed,405624.0,2.484503,10.150038,0.00,0.00,0.00,0.00,71.00
Salary,302952.0,79268.825953,34992.133508,-58486.00,59262.00,73479.00,88612.00,407228.00
CLV,405624.0,7991.976226,6863.663857,1898.01,3985.32,5776.34,8936.82,83325.38
Enrollment Year,405624.0,2015.252529,1.979427,2012.00,2014.00,2015.00,2017.00,2018.00
Enrollment Month,405624.0,6.668008,3.399766,1.00,4.00,7.00,10.00,12.00
Cancellation Year,50064.0,2016.499521,1.384336,2013.00,2016.00,2017.00,2018.00,2018.00
Cancellation Month,50064.0,6.966443,3.448300,1.00,4.00,7.00,10.00,12.00

In [102]:
# Por último, se consultan valores duplicados y nulos.

In [103]:
# Valores duplicados:

df_clients.duplicated().sum()

np.int64(1864)

In [104]:
# Al ver que hay muchos duplicados, interesa ver si hay 'Loyalty Number' repetidos, que correspondería a la misma persona:

df_clients.duplicated('Loyalty Number').sum()

np.int64(388887)

In [105]:
# Se muestran los 'Loyalty Number' en orden para ver los datos:

df_clients[df_clients.duplicated(["Loyalty Number"], keep=False)].sort_values(by="Loyalty Number")

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
388723,100018,2018,12,17,6,23,4945,494.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
185911,100018,2017,12,6,0,6,1908,190.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
101406,100018,2017,7,10,0,10,3870,387.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
287317,100018,2018,6,0,0,0,0,0.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304217,999986,2018,6,0,0,0,0,0.0,0,0,Canada,Ontario,Ottawa,K1F 2R2,Female,Bachelor,46594.0,Married,Nova,8257.01,2018 Promotion,2018,2,NaN,NaN
321118,999986,2018,7,15,0,15,1995,199.0,0,0,Canada,Ontario,Ottawa,K1F 2R2,Female,Bachelor,46594.0,Married,Nova,8257.01,2018 Promotion,2018,2,NaN,NaN
354920,999986,2018,9,0,0,0,0,0.0,0,0,Canada,Ontario,Ottawa,K1F 2R2,Female,Bachelor,46594.0,Married,Nova,8257.01,2018 Promotion,2018,2,NaN,NaN
185910,999986,2017,11,0,0,0,0,0.0,0,0,Canada,Ontario,Ottawa,K1F 2R2,Female,Bachelor,46594.0,Married,Nova,8257.01,2018 Promotion,2018,2,NaN,NaN
405623,999986,2018,12,0,0,0,0,0.0,0,0,Canada,Ontario,Ottawa,K1F 2R2,Female,Bachelor,46594.0,Married,Nova,8257.01,2018 Promotion,2018,2,NaN,NaN

### QUE SE HACE AQUÍ??? --> preguntar a laura/rocío

In [106]:
# Valores nulos:

df_clients.isnull().sum()

Loyalty Number                      0
Year                                0
Month                               0
Flights Booked                      0
Flights with Companions             0
Total Flights                       0
Distance                            0
Points Accumulated                  0
Points Redeemed                     0
Dollar Cost Points Redeemed         0
Country                             0
Province                            0
City                                0
Postal Code                         0
Gender                              0
Education                           0
Salary                         102672
Marital Status                      0
Loyalty Card                        0
CLV                                 0
Enrollment Type                     0
Enrollment Year                     0
Enrollment Month                    0
Cancellation Year              355560
Cancellation Month             355560
dtype: int64

## 2. Limpieza de datos

In [ ]:
# Gestión de nulos:

# La exploración ha mostrado algunas columnas con muchos nulos, se calcula el % para ver cómo proceder:

# % nulos
nulls = df_clients.isnull().sum()/df_clients.shape[0]*100

# % nulos ordenados de mayor a menor
nulls.sort_values(ascending=False)

Cancellation Month             87.657535
Cancellation Year              87.657535
Salary                         25.312112
Postal Code                     0.000000
Enrollment Month                0.000000
Enrollment Year                 0.000000
Enrollment Type                 0.000000
CLV                             0.000000
Loyalty Card                    0.000000
Marital Status                  0.000000
Education                       0.000000
Gender                          0.000000
Loyalty Number                  0.000000
Year                            0.000000
Province                        0.000000
Country                         0.000000
Dollar Cost Points Redeemed     0.000000
Points Redeemed                 0.000000
Points Accumulated              0.000000
Distance                        0.000000
Total Flights                   0.000000
Flights with Companions         0.000000
Flights Booked                  0.000000
Month                           0.000000
City                            0.000000
dtype: float64

In [111]:
# Dado que el análisis requerido no necesita las columnas de cancelación, las eliminamos al tener un % alto de nulos:

df_clients.drop(['Cancellation Month', 'Cancellation Year'], axis=1, inplace=True)
df_clients.columns

Index(['Loyalty Number', 'Year', 'Month', 'Flights Booked',
       'Flights with Companions', 'Total Flights', 'Distance',
       'Points Accumulated', 'Points Redeemed', 'Dollar Cost Points Redeemed',
       'Country', 'Province', 'City', 'Postal Code', 'Gender', 'Education',
       'Salary', 'Marital Status', 'Loyalty Card', 'CLV', 'Enrollment Type',
       'Enrollment Year', 'Enrollment Month'],
      dtype='object')

In [ ]:
# Solo queda 1 columna con nulos: 'Salary', que es de tipo float (se tendrá que cambiar el tipo de datos, pero primero se deberán gestionar los nulos para evitar errores).

# Es de tipo numérica y el % de nulos es alto (25%).

In [109]:
# ELIMINAR COLUMNAS INNECESARIAS --> PENDIENTE

In [110]:
## PENDIENTE:

# -¿Borrar duplicados?
-¿Borrar columnas?

Object `columnas` not found.